
@media (max-width: 800px) {
  
  
  

  ul,li{
    display:block;
  }
  li{
    height:50px;
    line-height:50px;
    padding:0 12px;
    border-bottom:1px solid #777;
    background:#fff;
}                 
  #menu-button{
    top:0;
    right:0;
    width:50px;
    height:50px;
    overflow:hidden;
    color:#000;
    line-height:50px;
    text-align:center;
    font-size:40px;
    cursor:pointer;
    transition:all .5s;
  }
  #menu-button::after{
    content:'×';
  }
  #menu-button.close{
    color:#000;
    
  }
  #menu-button.close::after{
    content:'≡';
  }
  #menu{
    transition:transform .5s;
    width:100%;
    max-width:480px;
    transform:translateX(750px);
  }
  #menu.show-menu{
    transform:translateY(51px);
  }
}
 